include ./mixins/bemto.pug

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='icon' href='../static/img/favicon.ico')
    title Webpack 5 + pug
  body
    block header
      include includes/header
      
    block content
 
    block footer
      include includes/footer

    