extends ./base.pug

block content
  main.main
    section
      h1
        | Webpack
      a(href="http://localhost:8080/templates/second_page.html") second page
    section#app
    section.bemto
      +b.page
        +e.elem
          h3 bemto